%tr.total-row
  %td.font-weight-bold
    = t("provincial_usages.total")
  %td &nbsp;
  %td.font-weight-bold
    = @provincial_usages.sum_total_visit
  %td.font-weight-bold
    = @provincial_usages.sum_unique_users_count
  %td.font-weight-bold
    = @provincial_usages.sum_service_delivered_count
  %td &nbsp;
