.card.card-inactive
  .card-body.text-center
    %h4= t('site_setting.no_site_setting_yet')
    %p.text-description= t('site_setting.create_site_setting_description')

    - if TelegramBot.first.present?
      %button.btn.btn-primary.mt-3{"data-target" => "#form-report-modal", "data-toggle" => "modal", :type => "button"}
        = t("sites.create_setting")
    - else
      = t('site_setting.to_enable_telegram_html', url: settings_path)
