= render "shared/sb-admin/page_heading", title: t("schedules.title")

.card.shadow.mb-4
  .card-body
    .mb-4
      = link_to "Create new schedule", new_schedule_path, class: "btn btn-primary"

      - if TelegramBot.exists?
        = render 'schedules'
      - else
        = t('site_setting.to_enable_telegram_html', url: settings_path)
