#article
  .container{ role: "article" }
    .row
      .col-12
        %p.text-intro.mb-3.text-center
          គម្រោងពិដោរអ្នកភូមិឆ្លាតវៃ ត្រូវបានផ្តល់មូលនិធិដោយ Bread for the World និង Dan Church Aid ដែលជាផ្នែកមួយនៃកម្មវិធីរយៈពេល 3.25 ឆ្នាំ (សីហា 2022 - តុលា 2025) ដែលភ្ជាប់ប្រជាពលរដ្ឋទៅនឹងព័ត៌មានអំពីសេវា OWSO ។ ថ្នាលបច្ចេកវិទ្យានេះត្រូវបានបង្កើតឡើង សាកល្បង និងដាក់ឱ្យដំណើរការនៅចន្លោះឆ្នាំ 2020 - 2022 ជាមួយនឹងការផ្តល់មូលនិធិពី USAID។
