#article
  .container{ role: "article" }
    .row
      .col-12
        %p.text-intro.mb-3.text-center
          Pidor is funded by Bread for the World and Dan Church Aid as part of a 3.25-year (Aug 2022 - Oct 2025) program linking citizens to information on OWSO services. This platform was developed, tested, and launched between 2020 - 2022 with funding from USAID.
