%footer
  .container
    .row
      .col-12
        %h6= t('welcomes.copyrights').html_safe

        .separator

        .terms-privacy.text-center{ "data-turbolinks": "false" }
          = link_to t('welcomes.privacy_policy'), privacy_policy_path, class: 'text-footer-sm'
