= link_to root_path, tabindex: tabindex, id: id, class: "logo-link d-inline-block" do
  = image_tag "pidor.png", alt: "ពិដោរ អ្នកភូមិឆ្លាតវៃ", class: "img-fluid rounded-sm branding-logo"

%span.logo-title.ml-2= "ពិដោរ អ្នកភូមិឆ្លាតវៃ"
